@{
    ViewBag.Title = "About";
}

<h1>About Movies</h1>

<p>Our passion for movies drives us to provide an exceptional movie experience. At our theater, we strive to showcase a diverse range of films that entertain, inspire, and captivate audiences of all ages. Whether it's classic masterpieces or the latest blockbusters, we aim to create unforgettable moments on the big screen.</p>
