@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Your Event and Ticket System</h1>
<p>Here you can browse events, buy tickets, and more!</p>
<div class="jumbotron">
    <h1 class="display-4">Welcome to Your Event and Ticket System</h1>
    <p class="lead">Here you can browse events, buy tickets, and more!</p>
</div>
